body {
  font-family: Arial;
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

.head h2{
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

.head{
  background-color: rgb(187, 0, 255);
  padding: 2px 2px;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-height: 70vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-left: 370px;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
  height: 200px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 19%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left:79%;
  border-radius: 3px 0px 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 28px;
  padding: 14px 18px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  font-size: 18px;
  text-align: center;
  background-color: rgb(187, 0, 255);
  margin-top: -5px;
  padding: 1px 0px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.4;
}

.active,
.demo:hover {
  opacity: 1;
}